body {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h1 {
  font-size: 6em;
  font-weight: 700;
  font-style: italic;
}

h2 {
  font-size: 4.125em;
  font-style: italic;
}

h3 {
  font-size: 1.125em;
  font-style: normal;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.875em;
}

.tags {
  font-family: "Space Mono", serif;
  font-size: 0.875em;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.724em;
  }
  h2 {
    font-size: 2.875em;
  }
}
html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFFFFF;
}

.site-header, .site-footer {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.cta {
  background-color: #D8D8D8;
}

.site-header {
  justify-content: space-between;
  height: 80px;
  padding: 0 9em;
}
.site-header__logo {
  display: inline-block;
  min-width: 220px;
  height: 14px;
  background-image: url("../assets/images/logo.svg");
  background-size: auto 14px;
}

.navbar {
  min-width: 30%;
}

.site-footer {
  justify-content: center;
  min-height: 40px;
  border-top: 1px solid #000000;
}
.site-footer__menu {
  width: 50%;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}
.menu-item a {
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}
.menu-item a:hover {
  font-weight: 700;
}

.contact {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  visibility: hidden;
}
.contact__modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 37.5em;
  border: 5px solid #000000;
  padding: 1.25em 0;
  background-color: #FFFFFF;
}
.contact__modal__header {
  width: 100%;
  height: 6.656em;
  background-image: url("../assets/images/header_contact.svg");
  background-size: auto 100%;
  background-position: top center;
}
.contact__modal__form__label {
  text-transform: uppercase;
}
.contact.open {
  visibility: visible;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: fade-in;
  animation-direction: normal;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.contact.close {
  visibility: visible;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: fade-out;
  animation-direction: normal;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.wpcf7 {
  width: 17em;
  padding: 2.5em 0 0;
}
.wpcf7-form-control {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #C4C4C4;
  padding: 0 8px;
  box-sizing: border-box;
}
.wpcf7-form p {
  position: relative;
}
.wpcf7-text, .wpcf7-email {
  line-height: 40px;
}
.wpcf7-textarea {
  padding: 8px;
}
.wpcf7-submit {
  border-radius: 2px;
  border: none;
  line-height: 50px;
  font-family: "Space Mono", serif;
  background-color: #D8D8D8;
}
.wpcf7-submit:hover {
  background-color: #000000;
  color: #FFFFFF;
}
.wpcf7-spinner {
  position: absolute;
  top: 13px;
  right: -30px;
  margin: 0 auto;
}
.wpcf7-response-output {
  margin: 0 !important;
}

/*# sourceMappingURL=main.css.map */
