:root {
  --header-height: 80px;
  --site-width: min(100%, 1400px);
}
@media (max-width: 1400px) {
  :root {
    --header-height: 72px;
    --site-width: 100%;
  }
}

html {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

h1, h2, h3 {
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-weight: 700;
  font-style: italic;
  font-size: 6rem;
}
@media (max-width: 1020px) {
  h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 450px) {
  h1 {
    font-size: 1.725rem;
  }
}

h2 {
  font-size: 4.125rem;
  font-style: italic;
}
@media (max-width: 1020px) {
  h2 {
    font-size: 3.5rem;
  }
}
@media (max-width: 450px) {
  h2 {
    font-size: 2.875rem;
  }
}

h3 {
  font-size: 1.125rem;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
}

.tags {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.cta {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-size: 0.75rem;
}

.form-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  color: #313144;
}
.form-text__label {
  text-transform: uppercase;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFFFFF;
}

.site-header, .site-footer {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.site-content {
  position: relative;
  width: var(--site-width);
  margin: 0 auto;
}
@media (max-width: 1020px) {
  .site-content {
    margin-top: var(--header-height);
  }
}

@media (max-width: 1020px) {
  body.home .site-content {
    margin-top: 0;
  }
}
.site-header {
  justify-content: center;
  height: var(--header-height);
  background-color: #FFFFFF;
  box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);
}
@media (max-width: 1020px) {
  .site-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
  }
}
.site-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--site-width);
  height: 100%;
}
@media (max-width: 1020px) {
  .site-header__content {
    width: calc(100vw - 80px);
  }
}
.site-header__content__logo {
  display: inline-block;
  min-width: 220px;
  height: 100%;
  background-image: url("../assets/images/logo.svg");
  background-size: auto 14px;
  background-position: left center;
  background-repeat: no-repeat;
}
@media (max-width: 1020px) {
  .site-header__content__logo {
    min-width: 138px;
    background-size: 100% auto;
  }
}
.site-header__content__menu {
  display: flex;
  justify-content: flex-end;
  min-width: 30%;
}
@media (max-width: 1400px) {
  .site-header__content__menu {
    min-width: 50%;
  }
}
.site-header__content__menu__button {
  width: 1.7rem;
  height: 1.7rem;
}

.burger-menu {
  position: relative;
  display: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  visibility: collapse;
}
@media (max-width: 1020px) {
  .burger-menu {
    display: block;
    visibility: visible;
  }
}
.burger-menu .line {
  position: absolute;
  top: calc(50% - 0.055rem);
  display: block;
  width: 27px;
  height: 0.11rem;
  background-color: #000000;
  transition: all 0.2s ease-in-out;
}
.burger-menu .line:first-of-type {
  transform: translate3d(0, -7px, 0);
}
.burger-menu .line:last-of-type {
  transform: translate3d(0, 7px, 0);
}
.burger-menu.toggled .line:first-of-type {
  transform: translate3d(0, 0, 0) rotate(40deg);
}
.burger-menu.toggled .line:nth-of-type(0n+2) {
  opacity: 0;
}
.burger-menu.toggled .line:last-of-type {
  transform: translate3d(0, 0, 0) rotate(-40deg);
}

.navbar {
  width: 100%;
}
@media (max-width: 1020px) {
  .navbar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    height: calc(100% - var(--header-height));
    background-color: #E00000;
    color: #FFFFFF;
    visibility: collapse;
    z-index: 200;
  }
  .navbar > .menu {
    height: 100%;
    font-size: 44px;
  }
  .navbar.open {
    visibility: visible;
  }
}

.site-footer {
  justify-content: center;
  min-height: 40px;
  border-top: 1px solid #000000;
}
.site-footer__menu {
  width: 50%;
}
@media (max-width: 1020px) {
  .site-footer__menu {
    width: 100%;
    padding: 2.75rem 0;
  }
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: collapse;
  z-index: 100;
}
.modal__contact {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 37.5em;
  border: 5px solid #000000;
  padding: 1.25em 0;
  background-color: #FFFFFF;
  visibility: collapse;
}
@media (max-width: 1020px) {
  .modal__contact {
    width: 100%;
  }
}
.modal__contact__header {
  width: 100%;
  height: 6.656em;
  background-image: url("../assets/images/header_contact.svg");
  background-size: auto 100%;
  background-position: top center;
}
.modal__contact--selected {
  display: flex;
  visibility: visible;
}
.modal__lightbox {
  position: relative;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  visibility: collapse;
}
.modal__lightbox__closer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal__lightbox__closer:after {
  position: absolute;
  top: 3.5rem;
  right: 3.25rem;
  content: "";
  width: 22px;
  height: 22px;
  background-image: url("../assets/images/icon_close_lightbox.png");
  background-size: 100%;
  cursor: pointer;
}
@media (max-width: 1400px) {
  .modal__lightbox__closer:after {
    top: 1rem;
    right: 1rem;
    width: 1rem;
    height: 1rem;
  }
}
.modal__lightbox__content {
  position: absolute;
  top: 10rem;
  max-width: 100vw;
  height: calc(100% - 17.5rem);
  margin: 0;
  display: grid;
  grid-template-columns: 13rem 1fr 13rem;
  grid-template-rows: 1fr 1.5rem;
  grid-template-areas: "prev media next" ". infos .";
}
@media (max-width: 1400px) {
  .modal__lightbox__content {
    top: 3rem;
    height: calc(100% - 3rem);
    width: 100vw;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1.5rem 1fr 1.5rem 0.25fr;
    grid-template-areas: "prev next" "media media" "infos infos" ". .";
  }
}
.modal__lightbox--selected {
  display: flex;
  visibility: visible;
}
.modal--open {
  visibility: visible;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: fade-in;
  animation-direction: normal;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.modal--close {
  visibility: visible;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: fade-out;
  animation-direction: normal;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.wpcf7 {
  width: 17em;
  padding: 2.5em 0 0;
}
.wpcf7-form-control {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #C4C4C4;
  padding: 0 8px;
  box-sizing: border-box;
}
.wpcf7-form p {
  position: relative;
}
.wpcf7-text, .wpcf7-email {
  line-height: 40px;
}
.wpcf7-textarea {
  padding: 8px;
}
.wpcf7-spinner {
  position: absolute;
  top: 13px;
  right: -30px;
  margin: 0 auto;
}
.wpcf7-response-output {
  margin: 0 !important;
}

.lightbox__previous, .lightbox__next {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 3.75rem;
}
.lightbox__previous .tags, .lightbox__next .tags {
  position: relative;
  color: #FFFFFF;
  text-transform: capitalize;
  text-decoration: none;
  line-height: 1rem;
}
.lightbox__previous .tags:hover, .lightbox__next .tags:hover {
  font-weight: bold;
}
.lightbox__previous .tags:before, .lightbox__previous .tags:after, .lightbox__next .tags:before, .lightbox__next .tags:after {
  content: "";
  position: absolute;
  width: 36px;
  min-height: 1rem;
  background-repeat: no-repeat;
}
.lightbox__previous {
  grid-area: prev;
}
@media (max-width: 1400px) {
  .lightbox__previous {
    justify-content: flex-start;
  }
}
.lightbox__previous > .tags:before {
  left: calc(-36px - 0.5rem);
  background-image: url("../assets/images/arrow_left_small.png");
  background-position: right center;
}
.lightbox__previous > .tags:hover:before {
  background-image: url("../assets/images/arrow_left_medium.png");
}
.lightbox__next {
  grid-area: next;
}
@media (max-width: 1400px) {
  .lightbox__next {
    justify-content: flex-end;
  }
}
.lightbox__next > .tags:after {
  right: calc(-36px - 0.5rem);
  background-image: url("../assets/images/arrow_right_small.png");
  background-position: left center;
}
.lightbox__next > .tags:hover:after {
  background-image: url("../assets/images/arrow_right_medium.png");
}
.lightbox__media {
  grid-area: media;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 20rem);
  min-width: calc((100vh - 20rem) / 16 * 9);
  padding: 0;
  margin: 0;
}
@media (max-width: 1400px) {
  .lightbox__media {
    height: calc(100vh - 6rem);
    max-height: 233.3333333333vw;
  }
}
.lightbox__media:before {
  content: "Chargement...";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #C4C4C4;
  z-index: 10;
}
@media (max-width: 1400px) {
  .lightbox__media:before {
    background-color: transparent;
  }
}
.lightbox__media__photo {
  height: 100%;
  z-index: 20;
  object-fit: contain;
}
@media (max-width: 1400px) {
  .lightbox__media__photo {
    height: auto;
    width: 100%;
    max-height: 100%;
  }
}
.lightbox__infos {
  grid-area: infos;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
}
@media (max-width: 1400px) {
  .lightbox__infos {
    width: calc(100% - 2rem);
    margin: 0 1rem;
  }
}

.photos-list {
  display: flex;
  flex-direction: column;
}
.photos-list__title {
  margin-top: 5rem;
}
@media (max-width: 1400px) {
  .photos-list__title {
    padding: 0 2rem;
  }
}
.photos-list__tools {
  display: flex;
  gap: 2rem;
  margin-top: 5rem;
}
@media (max-width: 450px) {
  .photos-list__tools {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
  }
}
.photos-list__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.25rem;
  margin: 3.125rem 0;
}
@media (max-width: 450px) {
  .photos-list__list {
    padding: 0 2rem;
  }
}
.photos-list__load-more {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.photos-list__load-more > .cta {
  margin-bottom: 3.125rem;
}

.listed-photo {
  position: relative;
  display: flex;
  width: calc((var(--site-width) - 20px) / 2);
  aspect-ratio: 1/1;
}
@media (max-width: 450px) {
  .listed-photo {
    width: 100%;
  }
}
.listed-photo__infos {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
  transition: opacity 0.3s ease-in-out;
}
.listed-photo__infos:hover {
  opacity: 1;
}
.listed-photo__infos__view {
  position: absolute;
  top: 46.5%;
  left: 45%;
  width: 10%;
  min-width: 46px;
  aspect-ratio: 46/32;
  margin: auto;
  background-image: url("../assets/images/Icon_eye.svg");
  background-size: 100% auto;
}
.listed-photo__infos__fullscreen {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 7%;
  height: 7%;
  background-image: url("../assets/images/Icon_fullscreen.svg");
  background-size: 100% auto;
}
.listed-photo__infos__reference {
  position: absolute;
  bottom: 1em;
  left: 1em;
}
.listed-photo__infos__category {
  position: absolute;
  bottom: 1em;
  right: 1em;
}
.listed-photo__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.dropdown-date-sorter {
  position: absolute;
  right: 0;
}

.cta {
  border: none;
  border-radius: 0;
  padding: 0.5em 1em;
  min-width: 17rem;
  min-height: 3.125rem;
  background-color: #D8D8D8;
  color: #000000;
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
  cursor: pointer;
}
.cta:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.dropdown {
  position: relative;
  width: 260px;
}
.dropdown__toggle {
  position: relative;
  width: 100%;
  max-height: 42px;
  padding: 0.625rem 1.125rem;
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  background-color: #FFFFFF;
  text-align: left;
  cursor: pointer;
}
.dropdown__toggle::after {
  position: absolute;
  right: 0.7rem;
  content: url("../assets/images/dropdown_icon.svg");
}
.dropdown__toggle.active {
  outline: 1.3px solid #215AFF;
  border-radius: 8px 8px 0 0;
}
.dropdown__toggle.active::after {
  transform: rotate(180deg);
}
.dropdown__menu {
  position: absolute;
  top: 42px;
  left: 0;
  display: flex;
  flex-direction: column;
  visibility: collapse;
  width: 100%;
  height: 0;
  transition: all 0.2s ease;
  z-index: 100;
}
.dropdown__menu__item {
  padding: 0 1.125rem;
  line-height: 42px;
  color: inherit;
  background-color: #FFFFFF;
  text-decoration: none;
}
.dropdown__menu__item:hover {
  background-color: #FFD6D6;
}
.dropdown__menu__item:active {
  background-color: #FE5858;
}
.dropdown__menu__item.selected {
  background-color: #E00000;
  color: white;
}
.dropdown__menu__item:last-child {
  border-radius: 0 0 8px 8px;
}
.dropdown__menu.show {
  visibility: visible;
  height: auto;
}
.dropdown-date-sorter {
  position: absolute;
  right: 0;
}
@media (max-width: 1020px) {
  .dropdown-date-sorter {
    position: relative;
  }
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}
@media (max-width: 1020px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.5rem;
  }
}
.menu-item a {
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}
.menu-item a:hover {
  font-weight: 700;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 16/9;
  max-height: calc(100vh - var(--header-height));
  background-size: cover;
  background-position: center center;
}
.hero > h1 {
  -webkit-text-stroke: 3px white;
  color: transparent;
}
@media (max-width: 1020px) {
  .hero > h1 {
    -webkit-text-stroke: 2px white;
  }
}
@media (max-width: 450px) {
  .hero > h1 {
    -webkit-text-stroke: 1px white;
  }
}

@media (max-width: 1020px) {
  body.home .hero {
    margin-top: var(--header-height);
  }
}
.photo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - var(--header-height) - var(--wp-admin--admin-bar--height, 0px));
}
@media (max-width: 1400px) {
  .photo {
    width: 100vw;
    height: auto;
  }
}
.photo__content {
  display: flex;
  align-self: stretch;
  width: 100%;
  height: calc(100% - 120px);
}
@media (max-width: 1400px) {
  .photo__content {
    flex-direction: column-reverse;
  }
}
.photo__content__header {
  width: 50%;
  border-bottom: 1px solid #000000;
  align-self: flex-end;
  padding: 2em 0;
}
@media (max-width: 1400px) {
  .photo__content__header {
    width: 100%;
    padding: 2em 3.5rem;
    box-sizing: border-box;
  }
}
.photo__content__thumbnail {
  width: 50%;
  height: 100%;
}
@media (max-width: 1400px) {
  .photo__content__thumbnail {
    width: calc(100vw - 7rem);
    margin: 0 3.5rem;
  }
}
.photo__content__thumbnail__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.photo__tools {
  display: flex;
  width: 100%;
  height: 118px;
  border-bottom: 1px solid #000000;
}
.photo__tools__cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
@media (max-width: 1400px) {
  .photo__tools__cta {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 3.5rem;
    box-sizing: border-box;
  }
}
.photo__tools__cta > .cta {
  width: 50%;
  padding: 1em;
}
@media (max-width: 1400px) {
  .photo__tools__cta > .cta {
    min-width: 0px;
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
.photo__tools__navigation {
  display: grid;
  margin-top: 8px;
  margin-left: calc(50% - 80px);
  grid-template-columns: 22px 25px 30px 25px 22px;
  grid-template-rows: 70px 32px;
  grid-template-areas: "image image image image image" ". left . right .";
}
@media (max-width: 1400px) {
  .photo__tools__navigation {
    display: none;
    visibility: collapse;
  }
}
.photo__navigation__image {
  grid-area: image;
}
.photo__navigation__image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.photo__navigation__arrow {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
}
.photo__navigation__arrow > img {
  position: absolute;
  top: -70px;
  left: -22px;
  width: 124px;
  height: 70px;
  object-fit: contain;
  visibility: hidden;
}
.photo__navigation__arrow:hover > img {
  visibility: visible;
}
.photo__navigation__arrow-left {
  grid-area: left;
  background-image: url("../assets/images/arrow_left_mini.png");
}
.photo__navigation__arrow-right {
  grid-area: right;
  background-image: url("../assets/images/arrow_right_mini.png");
}
.photo__navigation__arrow-right > img {
  left: -77px;
}

/*# sourceMappingURL=main.css.map */
