html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFFFFF;
}

.site-header, .site-footer {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.site-content {
  position: relative;
  width: $site-width;
  margin: 0 auto;
  @media (max-width: $breakpoint-small) {
    margin-top: calc($header-height + 1rem);
  }
}

body.home {
  & .site-content {
    margin-top: 0;
  }
}
