.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc( 100vh - $header-height - var(--wp-admin--admin-bar--height, 0px) );
  background-size: cover;
  background-position: center center;
  & > h1 {
    -webkit-text-stroke: 3px white;
    color: transparent;
  }
}
