.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 16 / 9;
  max-height: calc(100vh - $header-height);
  background-size: cover;
  background-position: center center;

  & > h1 {
    -webkit-text-stroke: 3px white;
    color: transparent;
    @media (max-width: $breakpoint-medium) {
      -webkit-text-stroke: 2px white;
    }
    @media (max-width: $breakpoint-small) {
      -webkit-text-stroke: 1px white;
    }
  }
}

@media (max-width: $breakpoint-medium) {
  body.home {
    .hero {
      margin-top: $header-height;
    }
  }
}
