$red-primary: #E00000;
$red-secondary: #FE5858;
$red-tertiary: #FFD6D6;
$black: #000000;
$white: #FFFFFF;
$gray-dark: #C4C4C4;
$gray-medium: #D8D8D8;
$gray-light: #E5E5E5;
$dark-blue: #313144;
$blue-cta: #215AFF;

$space-mono: "Space Mono", serif;
$poppins: "Poppins", sans-serif;

$header-height: 80px;
$site-width: calc(100vw - 18rem);
$site-side-margin: 9rem;