$breakpoint-small: 450px;
$breakpoint-medium: 1020px;
$breakpoint-large: 1400px;

:root {
  --header-height: 80px;
  --site-width: min(100%, 1400px);
  @media (max-width: $breakpoint-large) {
    --header-height: 72px;
    --site-width: 100%;
  }
}

$red-primary: #E00000;
$red-secondary: #FE5858;
$red-tertiary: #FFD6D6;
$black: #000000;
$white: #FFFFFF;
$gray-dark: #C4C4C4;
$gray-medium: #D8D8D8;
$gray-light: #E5E5E5;
$dark-blue: #313144;
$blue-cta: #215AFF;

$space-mono: "Space Mono", serif;
$poppins: "Poppins", sans-serif;

$header-height: var(--header-height);
$site-width: var(--site-width);
