$red-primary: #E00000;
$red-secondary: #FE5858;
$red-tertiary: #FFD6D6;
$black: #000000;
$gray-dark: #C4C4C4;
$gray-medium: #D8D8D8;
$gray-light: #E5E5E5;
$dark-blue: #313144;

$space-mono: "Space Mono", serif;
$poppins: "Poppins", sans-serif;