.site-header {
  justify-content: center;
  height: $header-height;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $site-width;
    height: 100%;
    &__logo {
      display: inline-block;
      min-width: 220px;
      height: 100%;
      background-image: url("../assets/images/logo.svg");
      background-size: auto 14px;
      background-position: left center;
      background-repeat: no-repeat;
    }
  }

}

.navbar {
  min-width: 30%;
}
