.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.8);
  visibility: collapse;
  z-index: 100;

  &__contact {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 37.5em;
    border: 5px solid $black;
    padding: 1.25em 0;
    background-color: #FFFFFF;
    visibility: collapse;

    &__header {
      width: 100%;
      height: 6.656em;
      background-image: url("../assets/images/header_contact.svg");
      background-size: auto 100%;
      background-position: top center;
    }

    &--selected {
      display: flex;
      visibility: visible;
    }
  }

  &__lightbox {
    position: relative;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    visibility: collapse;

    &__closer {
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      &:after {
        position: absolute;
        top: 3.5rem;
        right: 3.25rem;
        content: "";
        width: 22px;
        height: 22px;
        background-image: url("../assets/images/icon_close_lightbox.png");
        cursor: pointer;
      }
    }
    &__content {
      position: absolute;
      left: 0;
      top: 10rem;
      width: 100%;
      height: calc(100% - 10rem);
      display: flex;
      justify-content: center;
    }

    &--selected {
      display: flex;
      visibility: visible;
    }
  }

  &--open {
    visibility: visible;
    @include modal-fade(fade-in);
  }
  &--close {
    visibility: visible;
    @include modal-fade(fade-out);
  }
}

.wpcf7 {
  width: 17em;
  padding: 2.5em 0 0;

  &-form {
    &-control {
      width: 100%;
      border-radius: 8px;
      border: 1px solid $gray-dark;
      padding: 0 8px;
      box-sizing: border-box;
    }

    & p {
      position: relative;
    }
  }

  &-text,&-email{
    line-height: 40px;
  }
  &-textarea {
    padding: 8px;
  }

  &-spinner {
    position: absolute;
    top: 13px;
    right: -30px;
    margin: 0 auto;
  }

  &-response-output {
    margin: 0 !important;
  }
}

.lightbox {

  &__previous, &__next {
    height: calc(100% - 10rem);
    display: flex;
    align-items: center;
    padding: 0 3.75rem;

    & .tags {
      position: relative;
      color: $white;
      text-transform: capitalize;
      text-decoration: none;
      line-height: 1rem;
      &:hover {
        font-weight: bold;
      }
      &:before, &:after {
        content: "";
        position: absolute;
        width: 36px;
        min-height: 1rem;
        background-repeat: no-repeat;
      }
    }
  }

  &__previous > .tags:before {
    left: calc(-36px - 0.5rem);
    background-image: url("../assets/images/arrow_left_small.png");
    background-position: right center;

  }
  &__previous > .tags:hover:before {
    background-image: url("../assets/images/arrow_left_medium.png");
  }

  &__next > .tags:after {
    right: calc(-36px - 0.5rem);
    background-image: url("../assets/images/arrow_right_small.png");
    background-position: left center;
  }
  &__next > .tags:hover:after {
    background-image: url("../assets/images/arrow_right_medium.png");
  }

  &__media {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 20rem);
    min-width: calc( calc(100vh - 20rem) / 16 * 9 );
    padding: 0;
    margin: 0;

    &:before {
      content: "Chargement...";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      background-color: $gray-dark;
      z-index: 10;
    }

    &__photo {
      height: 100%;
      z-index: 20;
    }

    &__infos {
      position: absolute;
      top: calc(100% + 1rem);
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: $white;
    }
  }
}
